In [103]:
import pandas as pd
import re
from sklearn.cluster import KMeans
from sklearn.feature_extraction.text import TfidfVectorizer
import seaborn as sns
import matplotlib.pyplot as plt

In [104]:
# Adding the data file which has the cosinr similarituy and the Clustering by Kmeans output
df_data = pd.read_csv("final_cluster_similarity.csv")
df_data

,Date,Narration,Ref_no,Value_dt,Withdrawl,Deposit,Closing Balance,source,Transaction_type,Amount,clean_narration,ClusterName
0,01/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218249800677,01/07/22,20.0,NaN,34304.26,UPI,Withdrawl,20.00,jar save daily,0
1,02/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218327074783,02/07/22,21.0,NaN,34283.26,UPI,Withdrawl,21.00,jar save daily,0
2,03/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218430894428,03/07/22,20.0,NaN,34263.26,UPI,Withdrawl,20.00,jar save daily,0
3,03/07/22,UPI-NARESH PUROHIT-NP1784534@OKHDFCBANK-HDFC00...,0000218435006946,03/07/22,20.0,NaN,34243.26,UPI,Withdrawl,20.00,naresh purohit np,3
4,04/07/22,UPI-KRISHNA VEGETABLES A-PAYTMQR281005050101OG...,0000218563429825,04/07/22,25.0,NaN,34218.26,UPI,Withdrawl,25.00,krishna vegetables a,10
...,...,...,...,...,...,...,...,...,...,...,...,...
491,31/12/22,UPI-HAIR GLOW-9819103125@OKBIZAXIS-UTIB0000000...,0000236595133822,31/12/22,800.0,NaN,95992.53,UPI,Withdrawl,800.00,hair glow,1
492,31/12/22,05432150000051-007188242,0000212311762603,31/12/22,NaN,1403.39,97395.92,Others,Deposit,1403.39,,1
493,31/12/22,UPI-MAHAVIR THE HOME STO-Q80990057@YBL-YESB0YB...,0000236507176614,31/12/22,2998.0,NaN,94397.92,UPI,Withdrawl,2998.00,mahavir the home,1
494,31/12/22,UPI-AAYUSHI SUPER SHOPPY-Q392022159@YBL-YESB0Y...,0000236509057794,31/12/22,158.0,NaN,94239.92,UPI,Withdrawl,158.00,aayushi super shoppy,4
495,01/01/23,CREDIT INTEREST CAPITALISED,000000000000000,31/12/22,NaN,346.00,94585.92,Others,Deposit,346.00,credit interest capitalised,1

In [105]:
import math

In [106]:
def clean_narration(text):
    clean_text = re.sub(r"@.*", "", text)
    clean_text = re.sub(r"[^A-Za-z\s]", " ", clean_text)
    clean_text = re.sub("UPI","", clean_text)
    clean_text = re.sub(' +', ' ', clean_text)
    clean_text = clean_text.lower()
    words = re.split('\s+',clean_text)
    first_four = " ".join(words[:4])
    return first_four

In [107]:
df_data

,Date,Narration,Ref_no,Value_dt,Withdrawl,Deposit,Closing Balance,source,Transaction_type,Amount,clean_narration,ClusterName
0,01/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218249800677,01/07/22,20.0,NaN,34304.26,UPI,Withdrawl,20.00,jar save daily,0
1,02/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218327074783,02/07/22,21.0,NaN,34283.26,UPI,Withdrawl,21.00,jar save daily,0
2,03/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218430894428,03/07/22,20.0,NaN,34263.26,UPI,Withdrawl,20.00,jar save daily,0
3,03/07/22,UPI-NARESH PUROHIT-NP1784534@OKHDFCBANK-HDFC00...,0000218435006946,03/07/22,20.0,NaN,34243.26,UPI,Withdrawl,20.00,naresh purohit np,3
4,04/07/22,UPI-KRISHNA VEGETABLES A-PAYTMQR281005050101OG...,0000218563429825,04/07/22,25.0,NaN,34218.26,UPI,Withdrawl,25.00,krishna vegetables a,10
...,...,...,...,...,...,...,...,...,...,...,...,...
491,31/12/22,UPI-HAIR GLOW-9819103125@OKBIZAXIS-UTIB0000000...,0000236595133822,31/12/22,800.0,NaN,95992.53,UPI,Withdrawl,800.00,hair glow,1
492,31/12/22,05432150000051-007188242,0000212311762603,31/12/22,NaN,1403.39,97395.92,Others,Deposit,1403.39,,1
493,31/12/22,UPI-MAHAVIR THE HOME STO-Q80990057@YBL-YESB0YB...,0000236507176614,31/12/22,2998.0,NaN,94397.92,UPI,Withdrawl,2998.00,mahavir the home,1
494,31/12/22,UPI-AAYUSHI SUPER SHOPPY-Q392022159@YBL-YESB0Y...,0000236509057794,31/12/22,158.0,NaN,94239.92,UPI,Withdrawl,158.00,aayushi super shoppy,4
495,01/01/23,CREDIT INTEREST CAPITALISED,000000000000000,31/12/22,NaN,346.00,94585.92,Others,Deposit,346.00,credit interest capitalised,1

In [108]:
vectorizer = TfidfVectorizer(sublinear_tf= True, min_df=2, norm='l2', ngram_range=(1, 3))
documents = df_data["clean_narration"]
vect_text=vectorizer.fit_transform(documents)

In [109]:
from sklearn.decomposition import LatentDirichletAllocation
lda_model=LatentDirichletAllocation(n_components=15,learning_method='online',random_state=42,max_iter=10) 
lda_top=lda_model.fit_transform(vect_text)
print(lda_top.shape)

(496, 15)

In [110]:
vectorizer.get_feature_names_out()

array(['aayushi', 'aayushi super', 'aayushi super shoppy', 'accenture',
       'accenture salary', 'accenture solutions',
       'accenture solutions pvt', 'aeml', 'aeml awsp', 'airtel', 'akash',
       'akash bhatt', 'and', 'app', 'app paytm', 'aug', 'autopay',
       'autopay si', 'autopay si tad', 'awsp', 'bharatpe', 'bhatt',
       'billdeskpg', 'bofa', 'bofa mm', 'bofa mm accenture',
       'capitalised', 'ccavenues', 'ccavenues ccavenues', 'center',
       'chauhan', 'chemist', 'chemist paytmqr', 'chheda', 'chouhan',
       'chouhan chauhan', 'club', 'cms', 'com', 'country',
       'country delight', 'country delight paytm', 'cr', 'cr bofa',
       'cr bofa mm', 'cr kkbk', 'cr kkbk eclerx', 'cred', 'cred club',
       'credclub', 'credclub cred', 'credclub cred club', 'credit',
       'credit interest', 'credit interest capitalised', 'daily', 'dairy',
       'dc', 'dc autopay', 'dc autopay si', 'dc emi', 'dc emi loan',
       'dec', 'delight', 'delight paytm', 'departmental',
       'departmental st', 'digital', 'digital privat', 'dilip', 'dr',
       'dunzo', 'dunzo digital', 'dunzo digital privat', 'eclerx',
       'eclerx services', 'eclerx services limited', 'emi', 'emi loan',
       'enterprises', 'funds', 'funds transfer', 'funds transfer dr',
       'gagan', 'gagan pan', 'gagan pan shop', 'glow', 'gpay', 'gupta',
       'gupta accenture', 'gupta accenture salary', 'gupta cms',
       'gupta juice', 'gupta juice center', 'hair', 'hair glow',
       'hungerbox', 'hungerbox paytm', 'ib', 'ikea', 'ikea india',
       'ikea india pvt', 'india', 'india pvt', 'india systems',
       'installment', 'installment aug', 'installment dec',
       'installment jul', 'installment nov', 'installment oct',
       'installment sep', 'interest', 'interest capitalised', 'irctc',
       'irctc app', 'irctc app paytm', 'jar', 'jar save',
       'jar save daily', 'jiofiber', 'jiofiber jiofiber', 'juice',
       'juice center', 'jul', 'kani', 'kani departmental',
       'kani departmental st', 'kirit', 'kkbk', 'kkbk eclerx',
       'kkbk eclerx services', 'kopal', 'kopal chouhan',
       'kopal chouhan chauhan', 'krishna', 'krishna vegetables', 'kumar',
       'lakshmi', 'lakshmi stores', 'lakshmi stores paytmqr', 'life',
       'life line', 'life line pharmacy', 'limite', 'limited',
       'limited sumit', 'limited sumit mohan', 'line', 'line pharmacy',
       'loan', 'ltd', 'ltd sumit', 'ltd sumit mohan', 'makemytrip',
       'makemytrip makemytrip', 'makemytrip makemytrip rzp',
       'makemytrip rzp', 'mayur', 'mayur dilip', 'md', 'medical',
       'medical and', 'meet', 'meet medical', 'meet medical and', 'mm',
       'mm accenture', 'mm accenture solutions', 'mohan', 'mohan gupta',
       'mohan gupta accenture', 'mohan gupta cms', 'money',
       'money olamoney', 'mr', 'mr mayur', 'mr mayur dilip', 'msw',
       'msw onestop', 'msw onestop reta', 'naresh', 'naresh purohit',
       'naresh purohit np', 'neft', 'neft cr', 'neft cr bofa',
       'neft cr kkbk', 'nov', 'np', 'oct', 'ola', 'ola money',
       'ola money olamoney', 'olamoney', 'olamoney razorpay', 'onestop',
       'onestop reta', 'pan', 'pan shop', 'patel', 'patel premji',
       'patel premji paytmqr', 'paytm', 'paytmqr', 'pharmacy', 'pos',
       'pos msw', 'pos msw onestop', 'premji', 'premji paytmqr', 'privat',
       'purohit', 'purohit np', 'pv', 'pvt', 'pvt ltd', 'pvt ltd sumit',
       'rahul', 'rahul bharatpe', 'raj', 'raj stores',
       'raj stores paytmqr', 'raj vegetables', 'raj vegetables gpay',
       'razorpay', 'razorpay software', 'razorpay software pv', 'rd',
       'rd installment', 'rd installment aug', 'rd installment dec',
       'rd installment jul', 'rd installment nov', 'rd installment oct',
       'rd installment sep', 'reta', 'rzp', 'salary', 'save',
       'save daily', 'sep', 'services', 'services limited',
       'services limited sumit', 'shantidhan', 'shantidhan stores',
       'shantidhan stores gpay', 'shop', 'shoppy', 'si', 'si tad',
       'singh', 'software', 'software pv', 'solutions', 'solutions pvt',
       'solutions pvt ltd', 'st', 'stores', 'stores gpay',
       'stores paytmqr', 'sumit', 'sumit mohan', 'sumit mohan gupta',
       'super', 'super shoppy', 'swiggy', 'swiggy swiggy', 'systems',
       'tad', 'tirupati', 'tirupati chemist', 'tirupati chemist paytmqr',
       'transfer', 'transfer dr', 'uber', 'uber india',
       'uber india systems', 'vegetables', 'vegetables gpay', 'yadav'],
      dtype=object)

In [111]:
len(vectorizer.get_feature_names_out())

282

In [112]:
len(lda_model.components_[2])

282

In [113]:
len(lda_model.components_)

15

In [114]:
topic_df = pd.DataFrame(columns=['Topic','Topic_desc'])

In [115]:
def print_topics(model, vectorizer, top_n=5): 
    for idx, topic in enumerate(model.components_): 
        print("Topic %d:" % (idx)) 
        #topic_df["Topic"].iloc[idx]=idx
        print([(vectorizer.get_feature_names_out()[i], topic[i]) for i in topic.argsort()[:-top_n - 1:-1]])
        #topic_df["Topic_desc"].iloc[idx]=[(vectorizer.get_feature_names_out()[i], topic[i]) for i in topic.argsort()[:-top_n - 1:-1]]
        topic_df.loc[idx]=[idx,[(vectorizer.get_feature_names_out()[i], topic[i]) for i in topic.argsort()[:-top_n - 1:-1]]]
print_topics(lda_model, vectorizer)

Topic 0:
[('kopal chouhan chauhan', 2.3305858853071073), ('chouhan', 2.3286664002640896), ('chouhan chauhan', 2.3285237587338017), ('chauhan', 2.327674918586083), ('kopal chouhan', 2.326920463024618)]
Topic 1:
[('krishna vegetables', 2.868090070716998), ('krishna', 2.867875599541343), ('vegetables', 2.4837170548888774), ('neft', 1.218013939404935), ('cr', 1.2163746848135881)]
Topic 2:
[('gpay', 6.692672965121313), ('raj', 4.287809482243271), ('vegetables', 3.3788291843535827), ('cred', 3.2777169725565467), ('credclub', 3.2641865049925283)]
Topic 3:
[('and', 3.24575679329272), ('pos', 1.8609377666494087), ('dairy', 1.8381101332622511), ('akash bhatt', 1.6746192627724776), ('bhatt', 1.6706289674378851)]
Topic 4:
[('aayushi super shoppy', 7.068495523819026), ('aayushi', 7.06838930557633), ('aayushi super', 7.06809738797555), ('super shoppy', 7.0680503548048215), ('super', 7.0680361727358765)]
Topic 5:
[('chheda', 1.464212619426527), ('kirit', 1.4640073987714586), ('jar', 0.14060458361196748), ('jar save daily', 0.14053858668596242), ('jar save', 0.13942463954745177)]
Topic 6:
[('purohit', 8.247507413085748), ('purohit np', 8.2460498418989), ('naresh purohit np', 8.245539856155817), ('naresh', 8.245036273146889), ('np', 8.244066022724157)]
Topic 7:
[('daily', 71.31363994705612), ('jar', 70.52432117856651), ('save', 70.52313695069775), ('save daily', 70.52106207319126), ('jar save daily', 70.52083924181505)]
Topic 8:
[('juice', 13.3482250618993), ('gupta juice center', 13.345993453639492), ('center', 13.345955544274222), ('gupta juice', 13.345565057943476), ('juice center', 13.344941750376178)]
Topic 9:
[('com', 2.204106089334057), ('uber india', 0.8802473936077138), ('india systems', 0.8800029095591866), ('systems', 0.8799759439811143), ('mayur dilip', 0.8787662628389029)]
Topic 10:
[('autopay', 1.62852879688695), ('autopay si tad', 1.6270397050611578), ('dc autopay', 1.6264650974496924), ('si', 1.625380974293074), ('tad', 1.6248035369720055)]
Topic 11:
[('pv', 2.129861456606989), ('razorpay', 1.75719959505396), ('software', 0.996193150147192), ('razorpay software pv', 0.9960861256580603), ('software pv', 0.9947518844159302)]
Topic 12:
[('rd', 6.1428596228124315), ('installment', 5.012883308095535), ('rd installment', 5.011541348707975), ('ccavenues', 2.277511177355596), ('aeml awsp', 2.2522587332666433)]
Topic 13:
[('paytm', 8.34138261284559), ('hungerbox', 6.384603916063214), ('hungerbox paytm', 6.38434506641705), ('country delight', 2.6672897515046907), ('country', 2.666009146839535)]
Topic 14:
[('kumar', 1.915175072264887), ('money', 1.7244890896882479), ('airtel', 1.7177311072538255), ('limite', 1.5661927881550686), ('ola', 1.5223667499291718)]

In [116]:
topic_df

    Topic                                         Topic_desc
0       0  [(kopal chouhan chauhan, 2.3305858853071073), ...
1       1  [(krishna vegetables, 2.868090070716998), (kri...
2       2  [(gpay, 6.692672965121313), (raj, 4.2878094822...
3       3  [(and, 3.24575679329272), (pos, 1.860937766649...
4       4  [(aayushi super shoppy, 7.068495523819026), (a...
5       5  [(chheda, 1.464212619426527), (kirit, 1.464007...
6       6  [(purohit, 8.247507413085748), (purohit np, 8....
7       7  [(daily, 71.31363994705612), (jar, 70.52432117...
8       8  [(juice, 13.3482250618993), (gupta juice cente...
9       9  [(com, 2.204106089334057), (uber india, 0.8802...
10     10  [(autopay, 1.62852879688695), (autopay si tad,...
11     11  [(pv, 2.129861456606989), (razorpay, 1.7571995...
12     12  [(rd, 6.1428596228124315), (installment, 5.012...
13     13  [(paytm, 8.34138261284559), (hungerbox, 6.3846...
14     14  [(kumar, 1.915175072264887), (money, 1.7244890...

In [117]:
df_data["doc_topic"]=0
df_data["topic_desc"]=""

In [118]:
for i, doc in enumerate(vect_text):
    topic = lda_model.transform(doc)
    topic, _ = topic.argmax(), topic.max()
    df_data["doc_topic"].iloc[i]=topic
    df_data["topic_desc"].iloc[i]=topic_df['Topic_desc'].loc[topic_df['Topic'] == topic]
    print(f"Document {i} belongs to topic {topic}")

C:\Users\sumit.bu.gupta\AppData\Local\Temp\ipykernel_5520\2679303583.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["doc_topic"].iloc[i]=topic
C:\Users\sumit.bu.gupta\AppData\Local\Temp\ipykernel_5520\2679303583.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["topic_desc"].iloc[i]=topic_df['Topic_desc'].loc[topic_df['Topic'] == topic]

Document 0 belongs to topic 7
Document 1 belongs to topic 7
Document 2 belongs to topic 7
Document 3 belongs to topic 6
Document 4 belongs to topic 1
Document 5 belongs to topic 7
Document 6 belongs to topic 7
Document 7 belongs to topic 7
Document 8 belongs to topic 7
Document 9 belongs to topic 7
Document 10 belongs to topic 0
Document 11 belongs to topic 7
Document 12 belongs to topic 14
Document 13 belongs to topic 4
Document 14 belongs to topic 7
Document 15 belongs to topic 7
Document 16 belongs to topic 1
Document 17 belongs to topic 7
Document 18 belongs to topic 7
Document 19 belongs to topic 6
Document 20 belongs to topic 0
Document 21 belongs to topic 12
Document 22 belongs to topic 12
Document 23 belongs to topic 7
Document 24 belongs to topic 0
Document 25 belongs to topic 4
Document 26 belongs to topic 7
Document 27 belongs to topic 6
Document 28 belongs to topic 6
Document 29 belongs to topic 7
Document 30 belongs to topic 7
Document 31 belongs to topic 7
Document 32 belongs to topic 7
Document 33 belongs to topic 6
Document 34 belongs to topic 4
Document 35 belongs to topic 7
Document 36 belongs to topic 7
Document 37 belongs to topic 7
Document 38 belongs to topic 4
Document 39 belongs to topic 7
Document 40 belongs to topic 7
Document 41 belongs to topic 0
Document 42 belongs to topic 11
Document 43 belongs to topic 7
Document 44 belongs to topic 7
Document 45 belongs to topic 7
Document 46 belongs to topic 7
Document 47 belongs to topic 1
Document 48 belongs to topic 7
Document 49 belongs to topic 2
Document 50 belongs to topic 2
Document 51 belongs to topic 7
Document 52 belongs to topic 7
Document 53 belongs to topic 0
Document 54 belongs to topic 7
Document 55 belongs to topic 7
Document 56 belongs to topic 0
Document 57 belongs to topic 7
Document 58 belongs to topic 7
Document 59 belongs to topic 7
Document 60 belongs to topic 10
Document 61 belongs to topic 0
Document 62 belongs to topic 3
Document 63 belongs to topic 7
Document 64 belongs to topic 0
Document 65 belongs to topic 7
Document 66 belongs to topic 12
Document 67 belongs to topic 0
Document 68 belongs to topic 8
Document 69 belongs to topic 7
Document 70 belongs to topic 7
Document 71 belongs to topic 0
Document 72 belongs to topic 7
Document 73 belongs to topic 7
Document 74 belongs to topic 6
Document 75 belongs to topic 7
Document 76 belongs to topic 6
Document 77 belongs to topic 7
Document 78 belongs to topic 7
Document 79 belongs to topic 7
Document 80 belongs to topic 12
Document 81 belongs to topic 7
Document 82 belongs to topic 7
Document 83 belongs to topic 7
Document 84 belongs to topic 7
Document 85 belongs to topic 6
Document 86 belongs to topic 7
Document 87 belongs to topic 7
Document 88 belongs to topic 7
Document 89 belongs to topic 7
Document 90 belongs to topic 6
Document 91 belongs to topic 7
Document 92 belongs to topic 7
Document 93 belongs to topic 7
Document 94 belongs to topic 7
Document 95 belongs to topic 13
Document 96 belongs to topic 8
Document 97 belongs to topic 12
Document 98 belongs to topic 7
Document 99 belongs to topic 7
Document 100 belongs to topic 0
Document 101 belongs to topic 7
Document 102 belongs to topic 1
Document 103 belongs to topic 7
Document 104 belongs to topic 2
Document 105 belongs to topic 2
Document 106 belongs to topic 6
Document 107 belongs to topic 7
Document 108 belongs to topic 7
Document 109 belongs to topic 4
Document 110 belongs to topic 6
Document 111 belongs to topic 6
Document 112 belongs to topic 7
Document 113 belongs to topic 0
Document 114 belongs to topic 6
Document 115 belongs to topic 6
Document 116 belongs to topic 7
Document 117 belongs to topic 3
Document 118 belongs to topic 7
Document 119 belongs to topic 6
Document 120 belongs to topic 12
Document 121 belongs to topic 7
Document 122 belongs to topic 10
Document 123 belongs to topic 1
Document 124 belongs to topic 0
Document 125 belongs to topic 4
Document 126 belongs to topic 7
Document 127 belongs to topic 7
Document 128 belongs to topic 6
Document 129 belongs to topic 7
Document 130 belongs to topic 4
Document 131 belongs to topic 7
Document 132 belongs to topic 7
Document 133 belongs to topic 8
Document 134 belongs to topic 0
Document 135 belongs to topic 7
Document 136 belongs to topic 12
Document 137 belongs to topic 7
Document 138 belongs to topic 7
Document 139 belongs to topic 13
Document 140 belongs to topic 1
Document 141 belongs to topic 1
Document 142 belongs to topic 7
Document 143 belongs to topic 13
Document 144 belongs to topic 7
Document 145 belongs to topic 6
Document 146 belongs to topic 7
Document 147 belongs to topic 1
Document 148 belongs to topic 7
Document 149 belongs to topic 13
Document 150 belongs to topic 13
Document 151 belongs to topic 0
Document 152 belongs to topic 6
Document 153 belongs to topic 7
Document 154 belongs to topic 7
Document 155 belongs to topic 7
Document 156 belongs to topic 7
Document 157 belongs to topic 7
Document 158 belongs to topic 0
Document 159 belongs to topic 6
Document 160 belongs to topic 7
Document 161 belongs to topic 2
Document 162 belongs to topic 7
Document 163 belongs to topic 0
Document 164 belongs to topic 0
Document 165 belongs to topic 0
Document 166 belongs to topic 7
Document 167 belongs to topic 12
Document 168 belongs to topic 6
Document 169 belongs to topic 7
Document 170 belongs to topic 7
Document 171 belongs to topic 6
Document 172 belongs to topic 7
Document 173 belongs to topic 7
Document 174 belongs to topic 6
Document 175 belongs to topic 7
Document 176 belongs to topic 7
Document 177 belongs to topic 0
Document 178 belongs to topic 1
Document 179 belongs to topic 7
Document 180 belongs to topic 7
Document 181 belongs to topic 7
Document 182 belongs to topic 7
Document 183 belongs to topic 7
Document 184 belongs to topic 10
Document 185 belongs to topic 7
Document 186 belongs to topic 4
Document 187 belongs to topic 7
Document 188 belongs to topic 14
Document 189 belongs to topic 7
Document 190 belongs to topic 14
Document 191 belongs to topic 3
Document 192 belongs to topic 7
Document 193 belongs to topic 7
Document 194 belongs to topic 7
Document 195 belongs to topic 1
Document 196 belongs to topic 7
Document 197 belongs to topic 1
Document 198 belongs to topic 7
Document 199 belongs to topic 14
Document 200 belongs to topic 14
Document 201 belongs to topic 12
Document 202 belongs to topic 7
Document 203 belongs to topic 0
Document 204 belongs to topic 9
Document 205 belongs to topic 7
Document 206 belongs to topic 10
Document 207 belongs to topic 6
Document 208 belongs to topic 12
Document 209 belongs to topic 12
Document 210 belongs to topic 7
Document 211 belongs to topic 2
Document 212 belongs to topic 7
Document 213 belongs to topic 3
Document 214 belongs to topic 7
Document 215 belongs to topic 7
Document 216 belongs to topic 7
Document 217 belongs to topic 0
Document 218 belongs to topic 10
Document 219 belongs to topic 7
Document 220 belongs to topic 3
Document 221 belongs to topic 7
Document 222 belongs to topic 0
Document 223 belongs to topic 7
Document 224 belongs to topic 7
Document 225 belongs to topic 7
Document 226 belongs to topic 7
Document 227 belongs to topic 14
Document 228 belongs to topic 3
Document 229 belongs to topic 3
Document 230 belongs to topic 7
Document 231 belongs to topic 7
Document 232 belongs to topic 3
Document 233 belongs to topic 7
Document 234 belongs to topic 14
Document 235 belongs to topic 7
Document 236 belongs to topic 0
Document 237 belongs to topic 10
Document 238 belongs to topic 7
Document 239 belongs to topic 1
Document 240 belongs to topic 14
Document 241 belongs to topic 7
Document 242 belongs to topic 7
Document 243 belongs to topic 0
Document 244 belongs to topic 7
Document 245 belongs to topic 2
Document 246 belongs to topic 6
Document 247 belongs to topic 0
Document 248 belongs to topic 1
Document 249 belongs to topic 7
Document 250 belongs to topic 0
Document 251 belongs to topic 7
Document 252 belongs to topic 13
Document 253 belongs to topic 0
Document 254 belongs to topic 6
Document 255 belongs to topic 3
Document 256 belongs to topic 7
Document 257 belongs to topic 7
Document 258 belongs to topic 8
Document 259 belongs to topic 0
Document 260 belongs to topic 2
Document 261 belongs to topic 7
Document 262 belongs to topic 10
Document 263 belongs to topic 7
Document 264 belongs to topic 7
Document 265 belongs to topic 0
Document 266 belongs to topic 0
Document 267 belongs to topic 8
Document 268 belongs to topic 8
Document 269 belongs to topic 1
Document 270 belongs to topic 7
Document 271 belongs to topic 13
Document 272 belongs to topic 12
Document 273 belongs to topic 7
Document 274 belongs to topic 4
Document 275 belongs to topic 13
Document 276 belongs to topic 0
Document 277 belongs to topic 8
Document 278 belongs to topic 8
Document 279 belongs to topic 7
Document 280 belongs to topic 13
Document 281 belongs to topic 13
Document 282 belongs to topic 0
Document 283 belongs to topic 8
Document 284 belongs to topic 0
Document 285 belongs to topic 7
Document 286 belongs to topic 0
Document 287 belongs to topic 4
Document 288 belongs to topic 6
Document 289 belongs to topic 9
Document 290 belongs to topic 4
Document 291 belongs to topic 8
Document 292 belongs to topic 8
Document 293 belongs to topic 7
Document 294 belongs to topic 9
Document 295 belongs to topic 8
Document 296 belongs to topic 4
Document 297 belongs to topic 12
Document 298 belongs to topic 7
Document 299 belongs to topic 7
Document 300 belongs to topic 6
Document 301 belongs to topic 12
Document 302 belongs to topic 7
Document 303 belongs to topic 8
Document 304 belongs to topic 7
Document 305 belongs to topic 8
Document 306 belongs to topic 1
Document 307 belongs to topic 0
Document 308 belongs to topic 2
Document 309 belongs to topic 3
Document 310 belongs to topic 3
Document 311 belongs to topic 7
Document 312 belongs to topic 4
Document 313 belongs to topic 8
Document 314 belongs to topic 7
Document 315 belongs to topic 12
Document 316 belongs to topic 8
Document 317 belongs to topic 8
Document 318 belongs to topic 7
Document 319 belongs to topic 5
Document 320 belongs to topic 0
Document 321 belongs to topic 7
Document 322 belongs to topic 8
Document 323 belongs to topic 5
Document 324 belongs to topic 3
Document 325 belongs to topic 7
Document 326 belongs to topic 0
Document 327 belongs to topic 3
Document 328 belongs to topic 7
Document 329 belongs to topic 8
Document 330 belongs to topic 7
Document 331 belongs to topic 7
Document 332 belongs to topic 7
Document 333 belongs to topic 13
Document 334 belongs to topic 4
Document 335 belongs to topic 2
Document 336 belongs to topic 8
Document 337 belongs to topic 3
Document 338 belongs to topic 7
Document 339 belongs to topic 12
Document 340 belongs to topic 8
Document 341 belongs to topic 7
Document 342 belongs to topic 7
Document 343 belongs to topic 8
Document 344 belongs to topic 7
Document 345 belongs to topic 4
Document 346 belongs to topic 8
Document 347 belongs to topic 10
Document 348 belongs to topic 2
Document 349 belongs to topic 7
Document 350 belongs to topic 8
Document 351 belongs to topic 7
Document 352 belongs to topic 11
Document 353 belongs to topic 0
Document 354 belongs to topic 8
Document 355 belongs to topic 0
Document 356 belongs to topic 14
Document 357 belongs to topic 7
Document 358 belongs to topic 1
Document 359 belongs to topic 7
Document 360 belongs to topic 0
Document 361 belongs to topic 0
Document 362 belongs to topic 2
Document 363 belongs to topic 7
Document 364 belongs to topic 0
Document 365 belongs to topic 8
Document 366 belongs to topic 2
Document 367 belongs to topic 7
Document 368 belongs to topic 14
Document 369 belongs to topic 7
Document 370 belongs to topic 7
Document 371 belongs to topic 8
Document 372 belongs to topic 2
Document 373 belongs to topic 3
Document 374 belongs to topic 7
Document 375 belongs to topic 0
Document 376 belongs to topic 8
Document 377 belongs to topic 2
Document 378 belongs to topic 0
Document 379 belongs to topic 10
Document 380 belongs to topic 7
Document 381 belongs to topic 9
Document 382 belongs to topic 9
Document 383 belongs to topic 4
Document 384 belongs to topic 8
Document 385 belongs to topic 7
Document 386 belongs to topic 7
Document 387 belongs to topic 11
Document 388 belongs to topic 10
Document 389 belongs to topic 8
Document 390 belongs to topic 4
Document 391 belongs to topic 4
Document 392 belongs to topic 8
Document 393 belongs to topic 7
Document 394 belongs to topic 10
Document 395 belongs to topic 2
Document 396 belongs to topic 8
Document 397 belongs to topic 7
Document 398 belongs to topic 0
Document 399 belongs to topic 0
Document 400 belongs to topic 7
Document 401 belongs to topic 8
Document 402 belongs to topic 2
Document 403 belongs to topic 4
Document 404 belongs to topic 0
Document 405 belongs to topic 7
Document 406 belongs to topic 2
Document 407 belongs to topic 8
Document 408 belongs to topic 2
Document 409 belongs to topic 0
Document 410 belongs to topic 13
Document 411 belongs to topic 7
Document 412 belongs to topic 0
Document 413 belongs to topic 12
Document 414 belongs to topic 2
Document 415 belongs to topic 2
Document 416 belongs to topic 2
Document 417 belongs to topic 0
Document 418 belongs to topic 12
Document 419 belongs to topic 7
Document 420 belongs to topic 0
Document 421 belongs to topic 7
Document 422 belongs to topic 4
Document 423 belongs to topic 2
Document 424 belongs to topic 12
Document 425 belongs to topic 7
Document 426 belongs to topic 11
Document 427 belongs to topic 6
Document 428 belongs to topic 0
Document 429 belongs to topic 2
Document 430 belongs to topic 8
Document 431 belongs to topic 7
Document 432 belongs to topic 8
Document 433 belongs to topic 12
Document 434 belongs to topic 7
Document 435 belongs to topic 0
Document 436 belongs to topic 8
Document 437 belongs to topic 0
Document 438 belongs to topic 7
Document 439 belongs to topic 10
Document 440 belongs to topic 4
Document 441 belongs to topic 7
Document 442 belongs to topic 7
Document 443 belongs to topic 4
Document 444 belongs to topic 8
Document 445 belongs to topic 8
Document 446 belongs to topic 13
Document 447 belongs to topic 7
Document 448 belongs to topic 0
Document 449 belongs to topic 7
Document 450 belongs to topic 7
Document 451 belongs to topic 8
Document 452 belongs to topic 0
Document 453 belongs to topic 7
Document 454 belongs to topic 7
Document 455 belongs to topic 13
Document 456 belongs to topic 8
Document 457 belongs to topic 7
Document 458 belongs to topic 8
Document 459 belongs to topic 4
Document 460 belongs to topic 4
Document 461 belongs to topic 2
Document 462 belongs to topic 7
Document 463 belongs to topic 0
Document 464 belongs to topic 7
Document 465 belongs to topic 13
Document 466 belongs to topic 13
Document 467 belongs to topic 4
Document 468 belongs to topic 2
Document 469 belongs to topic 8
Document 470 belongs to topic 2
Document 471 belongs to topic 7
Document 472 belongs to topic 13
Document 473 belongs to topic 13
Document 474 belongs to topic 0
Document 475 belongs to topic 8
Document 476 belongs to topic 7
Document 477 belongs to topic 13
Document 478 belongs to topic 7
Document 479 belongs to topic 1
Document 480 belongs to topic 13
Document 481 belongs to topic 13
Document 482 belongs to topic 7
Document 483 belongs to topic 0
Document 484 belongs to topic 8
Document 485 belongs to topic 4
Document 486 belongs to topic 8
Document 487 belongs to topic 9
Document 488 belongs to topic 0
Document 489 belongs to topic 7
Document 490 belongs to topic 7
Document 491 belongs to topic 14
Document 492 belongs to topic 0
Document 493 belongs to topic 0
Document 494 belongs to topic 4
Document 495 belongs to topic 1

In [119]:
df_data

,Date,Narration,Ref_no,Value_dt,Withdrawl,Deposit,Closing Balance,source,Transaction_type,Amount,clean_narration,ClusterName,doc_topic,topic_desc
0,01/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218249800677,01/07/22,20.0,NaN,34304.26,UPI,Withdrawl,20.00,jar save daily,0,7,"[[(daily, 71.31363994705612), (jar, 70.5243211..."
1,02/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218327074783,02/07/22,21.0,NaN,34283.26,UPI,Withdrawl,21.00,jar save daily,0,7,"[[(daily, 71.31363994705612), (jar, 70.5243211..."
2,03/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218430894428,03/07/22,20.0,NaN,34263.26,UPI,Withdrawl,20.00,jar save daily,0,7,"[[(daily, 71.31363994705612), (jar, 70.5243211..."
3,03/07/22,UPI-NARESH PUROHIT-NP1784534@OKHDFCBANK-HDFC00...,0000218435006946,03/07/22,20.0,NaN,34243.26,UPI,Withdrawl,20.00,naresh purohit np,3,6,"[[(purohit, 8.247507413085748), (purohit np, 8..."
4,04/07/22,UPI-KRISHNA VEGETABLES A-PAYTMQR281005050101OG...,0000218563429825,04/07/22,25.0,NaN,34218.26,UPI,Withdrawl,25.00,krishna vegetables a,10,1,"[[(krishna vegetables, 2.868090070716998), (kr..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,31/12/22,UPI-HAIR GLOW-9819103125@OKBIZAXIS-UTIB0000000...,0000236595133822,31/12/22,800.0,NaN,95992.53,UPI,Withdrawl,800.00,hair glow,1,14,"[[(kumar, 1.915175072264887), (money, 1.724489..."
492,31/12/22,05432150000051-007188242,0000212311762603,31/12/22,NaN,1403.39,97395.92,Others,Deposit,1403.39,,1,0,"[[(kopal chouhan chauhan, 2.3305858853071073),..."
493,31/12/22,UPI-MAHAVIR THE HOME STO-Q80990057@YBL-YESB0YB...,0000236507176614,31/12/22,2998.0,NaN,94397.92,UPI,Withdrawl,2998.00,mahavir the home,1,0,"[[(kopal chouhan chauhan, 2.3305858853071073),..."
494,31/12/22,UPI-AAYUSHI SUPER SHOPPY-Q392022159@YBL-YESB0Y...,0000236509057794,31/12/22,158.0,NaN,94239.92,UPI,Withdrawl,158.00,aayushi super shoppy,4,4,"[[(aayushi super shoppy, 7.068495523819026), (..."
495,01/01/23,CREDIT INTEREST CAPITALISED,000000000000000,31/12/22,NaN,346.00,94585.92,Others,Deposit,346.00,credit interest capitalised,1,1,"[[(krishna vegetables, 2.868090070716998), (kr..."

In [120]:
df_manual_cat = pd.read_csv("master.csv")
df_manual_cat

         Extract_text             Category
0                 JAR                  JAR
1      RD INSTALLMENT       RD INSTALLMENT
2         DC EMI LOAN          DC EMI LOAN
3             AAYUSHI         AAYUSHI SHOP
4               JUICE                JUICE
5              AIRTEL               AIRTEL
6            JIOFIBER             JIOFIBER
7          VEGETABLES           VEGETABLES
8     COUNTRY DELIGHT      COUNTRY DELIGHT
9           HUNGERBOX            HUNGERBOX
10  KANI DEPARTMENTAL    KANI DEPARTMENTAL
11           VODAFONE             VODAFONE
12      APPLESERVICES       APPLE SERVICES
13   TIRUPATI CHEMIST             PHARMACY
14   LILAVATI CHEMIST             PHARMACY
15           PHARMACY             PHARMACY
16           DIAGNOST           DIAGNOSTIC
17            PANSARE              PANSARE
18              DAIRY                DAIRY
19          GAGAN PAN              PANSARE
20               HAIR                 HAIR
21             MYNTRA               MYNTRA
22     FUNDS TRANSFER       FUNDS TRANSFER
23           RAJENDRA    RAJENDRA TRANSFER
24              KOPAL       KOPAL TRANSFER
25        SUMIT MOHAN  SUMIT SELF TRANSFER
26     EDUCATION LOAN       EDUCATION LOAN
27    PAYMENT ON CRED      PAYMENT ON CRED
28         MAKEMYTRIP         MAKE MY TRIP
29    ELECTRONICSCOMP      ELECTRONICSCOMP
30                ATM                  ATM
31               REVV                 REVV
32               IKEA                 IKEA
33       OLA POSTPAID                  OLA
34               UBER                 UBER
35           BB DAILY             BB DAILY
36           SONAWINE            SONA WINE
37              HOTEL                HOTEL
38           OLAMONEY                  OLA
39       OLAFINANCIAL                  OLA
40         AUTOPAY SI           DC AUTOPAY
41             REDBUS               REDBUS
42              IRCTC                IRCTC
43            ONESTOP              ONESTOP
44              AWSP3                AWSP3
45     NARESH PUROHIT                DAIRY
46                TVS                  TVS
47                TVS                  TVS

In [121]:
def manual_category(text):
    text = text.lower()
    for i in range(0,df_manual_cat.shape[0]):
        text1 = df_manual_cat["Extract_text"].iloc[i]
        text1=text1.lower()
        if text1 in text:
            return df_manual_cat["Category"].iloc[i]
    return ""

In [122]:
df_data["Manual_category"]=df_data["clean_narration"].apply(manual_category)

In [123]:
df_data

,Date,Narration,Ref_no,Value_dt,Withdrawl,Deposit,Closing Balance,source,Transaction_type,Amount,clean_narration,ClusterName,doc_topic,topic_desc,Manual_category
0,01/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218249800677,01/07/22,20.0,NaN,34304.26,UPI,Withdrawl,20.00,jar save daily,0,7,"[[(daily, 71.31363994705612), (jar, 70.5243211...",JAR
1,02/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218327074783,02/07/22,21.0,NaN,34283.26,UPI,Withdrawl,21.00,jar save daily,0,7,"[[(daily, 71.31363994705612), (jar, 70.5243211...",JAR
2,03/07/22,UPI-JAR SAVE DAILY-JARMYJARONLINE@YBL-YESB0YB...,0000218430894428,03/07/22,20.0,NaN,34263.26,UPI,Withdrawl,20.00,jar save daily,0,7,"[[(daily, 71.31363994705612), (jar, 70.5243211...",JAR
3,03/07/22,UPI-NARESH PUROHIT-NP1784534@OKHDFCBANK-HDFC00...,0000218435006946,03/07/22,20.0,NaN,34243.26,UPI,Withdrawl,20.00,naresh purohit np,3,6,"[[(purohit, 8.247507413085748), (purohit np, 8...",DAIRY
4,04/07/22,UPI-KRISHNA VEGETABLES A-PAYTMQR281005050101OG...,0000218563429825,04/07/22,25.0,NaN,34218.26,UPI,Withdrawl,25.00,krishna vegetables a,10,1,"[[(krishna vegetables, 2.868090070716998), (kr...",VEGETABLES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491,31/12/22,UPI-HAIR GLOW-9819103125@OKBIZAXIS-UTIB0000000...,0000236595133822,31/12/22,800.0,NaN,95992.53,UPI,Withdrawl,800.00,hair glow,1,14,"[[(kumar, 1.915175072264887), (money, 1.724489...",HAIR
492,31/12/22,05432150000051-007188242,0000212311762603,31/12/22,NaN,1403.39,97395.92,Others,Deposit,1403.39,,1,0,"[[(kopal chouhan chauhan, 2.3305858853071073),...",
493,31/12/22,UPI-MAHAVIR THE HOME STO-Q80990057@YBL-YESB0YB...,0000236507176614,31/12/22,2998.0,NaN,94397.92,UPI,Withdrawl,2998.00,mahavir the home,1,0,"[[(kopal chouhan chauhan, 2.3305858853071073),...",
494,31/12/22,UPI-AAYUSHI SUPER SHOPPY-Q392022159@YBL-YESB0Y...,0000236509057794,31/12/22,158.0,NaN,94239.92,UPI,Withdrawl,158.00,aayushi super shoppy,4,4,"[[(aayushi super shoppy, 7.068495523819026), (...",AAYUSHI SHOP
495,01/01/23,CREDIT INTEREST CAPITALISED,000000000000000,31/12/22,NaN,346.00,94585.92,Others,Deposit,346.00,credit interest capitalised,1,1,"[[(krishna vegetables, 2.868090070716998), (kr...",

In [125]:
df_data.to_csv("vectorization_lda_output.csv")